<!DOCTYPE html>
<html>
  <head>
    <title>Ask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <nav>
    <% if current_user %>
      Logged in as <strong><%= current_user.username %></strong>
      <%= link_to 'Logout', logout_path, data:{turbo_method: :delete} %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </nav>
    <%= yield %>  
  </body>
</html>
